@import 'fonts.css';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    height: 200px;
    width: 266.67px;
}

.info{
    display: flex;
    flex-wrap: wrap;

    font-family: 'Ubuntu-Regular';
    
    background-color: #f7e7c7;
    border:solid 1px #816238;
    border-radius: 10px;

    margin-bottom: 2%;
    padding: 15px;
}

